.crafting_layout{
	position:absolute;
	top:22px;
	left:48px;
	width:108px
	}
.crafting_output{
	position:absolute;
	top:50px;
	left:228px;
	background-position:center;
	text-align:right;
	vertical-align:middle;padding:8px;
	color:#FFF!important;
	text-shadow:2px 2px 0 #3f3f3f
	}
.crafting{
	border:10px solid transparent;
	background-color:#C3C3C3;
	background-clip:content-box;
	border-image:url(recipeT/square.png) 10;
	position:relative
	}
.item{
	width:32px;
	height:32px;
	border:2px solid transparent;
	border-image:url(recipeT/angel.png) 2;
	background:#8b8b8b;
	float:left;
	text-align:right;
	vertical-align:middle;
	font-size:1.375rem;
	color:#FFF!important;
	text-shadow:2px 2px 0 #3F3F3F;
	box-sizing:content-box
	}
.recipe p{text-align:center;font-weight:700}
.filter-bar{margin-bottom:2rem;font-weight:700;text-align:center}
.filter-bar label{margin-right:2rem;font-size:1.25rem}
.filter-bar input{border-radius:.5rem;width:20rem;padding:0 .5rem}
div .item div{width:32px;height:32px}
div .item_sinew{background:url(recipes/sinew.png)}
div .item_irondagger{background:url(recipes/irondagger.png)}
div .item_ironbattleaxe{background:url(recipes/ironbattleaxe.png)}
div .item_ironwarhammer{background:url(recipes/ironwarhammer.png)}
div .item_ironmattock{background:url(recipes/ironmattock.png)}
div .item_ironscythe{background:url(recipes/ironscythe.png)}
div .item_chain{background:url(recipes/chain.png)}
div .item_chainmail{background:url(recipes/chainmail.png)}
div .item_mithrilingot{background:url(recipes/mithrilingot.png)}
div .item_obsidianshard{background:url(recipes/obsidianshard.png)}
div .item_clayoven{background:url(recipes/clayoven.png)}
div .item_hardenedclay{background:url(recipes/hardenedclay.png)}
div .item_mithrilbow{background:url(recipes/mithrilbow.png)}
div .item_cudgel{background:url(recipes/cudgel.png)}
div .item_club{background:url(recipes/club.png)}
div .item_flintaxe{background:url(recipes/flintaxe.png)}
div .item_flinthatchet{background:url(recipes/flinthatchet.png)}
div .item_flintknife{background:url(recipes/flintknife.png)}
div .item_flintchip{background:url(recipes/flintchip.png)}
div .item_largeclayoven{background:url(recipes/largeclayoven.png)}
div .item_sandstoneoven{background:url(recipes/sandstoneoven.png)}
div .item_obsidianfurnace{background:url(recipes/obsidianfurnace.png)}
div .item_netherrackfurnace{background:url(recipes/netherrackfurnace.png)}
div .item_glassshard{background:url(recipes/glassshard.png)}
div .item_emeraldshard{background:url(recipes/emeraldshard.png)}
div .item_flour{background:url(recipes/flour.png)}
div .item_milkbowl{background:url(recipes/milkbowl.png)}
div .item_cheese{background:url(recipes/cheese.png)}
div .item_dough{background:url(recipes/dough.png)}
div .item_waterbowl{background:url(recipes/waterbowl.png)}
div .item_chocolate{background:url(recipes/chocolate.png)}
div .item_orange{background:url(recipes/orange.png)}
div .item_onion{background:url(recipes/onion.png)}
div .item_sorbet{background:url(recipes/sorbet.png)}
div .item_icecream{background:url(recipes/icecream.png)}
div .item_mashedpotato{background:url(recipes/mashedpotato.png)}
div .item_beefstew{background:url(recipes/beefstew.png)}
div .item_chickensoup{background:url(recipes/chickensoup.png)}
div .item_vegetablesoup{background:url(recipes/vegetablesoup.png)}
div .item_creamofvegetablesoup{background:url(recipes/creamofvegetablesoup.png)}
div .item_pumpkinsoup{background:url(recipes/pumpkinsoup.png)}
div .item_cereal{background:url(recipes/cereal.png)}
div .item_creamofmushroomsoup{background:url(recipes/creamofmushroomsoup.png)}
div .item_salad{background:url(recipes/salad.png)}
div .item_porridge{background:url(recipes/porridge.png)}
div .item_bottleodisenchanting{background:url(recipes/bottleodisenchanting.png)}
div .item_blueberry{background:url(recipes/blueberry.png)}
div .item_strongbox{background:url(recipes/strongbox.png)}
div .item_thinsnow{background:url(recipes/thinsnow.png)}
div .item_snowslab{background:url(recipes/snowslab.png)}
div .item_coppercoin{background:url(recipes/coppercoin.png)}
div .item_coppernugget{background:url(recipes/coppernugget.png)}
div .item_goldnugget{background:url(recipes/goldnugget.png)}
div .item_mithrilnugget{background:url(recipes/mithrilnugget.png)}
div .item_mithrilrunestone{background:url(recipes/mithrilrunestone.png)}
div .item_adamantiumnugget{background:url(recipes/adamantiumnugget.png)}
div .item_adamantiumrunestone{background:url(recipes/adamantiumrunestone.png)}
div .item_flintarrow{background:url(recipes/flintarrow.png)}
div .item_ironfishingrod{background:url(recipes/ironfishingrod.png)}
div .item_obsidianknife{background:url(recipes/obsidianknife.png)}
div .item_obsidiantoolbench{background:url(recipes/obsidiantoolbench.png)}
div .item_flinttoolbench{background:url(recipes/flinttoolbench.png)}
div .item_coppertoolbench{background:url(recipes/coppertoolbench.png)}
div .item_copperingot{background:url(recipes/copperingot.png)}
div .item_cobblestone{background:url(recipes/cobblestone.png)}

div .item_manure{background:url(recipes_fun/manure.png)}
div .item_eight_hamburger{background:url(recipes_fun/eight_hamburger.png)}
div .item_ironorebag{background:url(recipes_fun/ironorebag.png)}
div .item_obsidianstick{background:url(recipes_fun/obsidianstick.png)}
div .item_stacktorch{background:url(recipes_fun/stacktorch.png)}
div .item_stacktorchon{background:url(recipes_fun/stacktorchon.png)}
div .item_stacklog{background:url(recipes_fun/stacklog.png)}
div .item_zombiebrain{background:url(recipes_fun/zombiebrain.png)}
div .item_zombiedrug{background:url(recipes_fun/zombiedrug.png)}
div .item_creeperbaby{background:url(recipes_fun/creeperbaby.png)}
div .item_creepersoul{background:url(recipes_fun/creepersoul.png)}
div .item_stones{background:url(recipes_fun/stones.png)}
div .item_gem_blue{background:url(recipes_fun/gem_blue.png)}
div .item_gotcha{background:url(recipes_fun/gotcha.png)}
div .item_drug_bg{background:url(recipes_fun/drug_bg.png)}
div .item_drug_zj{background:url(recipes_fun/drug_zj.png)}
div .item_flower1{background:url(recipes_fun/flower1.png)}
div .item_flower2{background:url(recipes_fun/flower2.png)}
div .item_flower3{background:url(recipes_fun/flower3.png)}
div .item_flower4{background:url(recipes_fun/flower4.png)}
div .item_flower5{background:url(recipes_fun/flower5.png)}
div .item_flower6{background:url(recipes_fun/flower6.png)}
div .item_flower7{background:url(recipes_fun/flower7.png)}
div .item_slimesand{background:url(recipes_fun/slimesand.png)}
div .item_tomato{background:url(recipes_fun/tomato.png)}
div .item_tomato_omelette{background:url(recipes_fun/tomato_omelette.png)}
div .item_tomato_picked{background:url(recipes_fun/tomato_picked.png)}
div .item_a_pickaxe{background:url(recipes_fun/a_pickaxe.png)}
div .item_b_pickaxe{background:url(recipes_fun/b_pickaxe.png)}
div .item_ga_pickaxe{background:url(recipes_fun/ga_pickaxe.png)}
div .item_guilt1{background:url(recipes_fun/guilt1.png)}
div .item_guilt2{background:url(recipes_fun/guilt2.png)}
div .item_guilt3{background:url(recipes_fun/guilt3.png)}
div .item_guilt4{background:url(recipes_fun/guilt4.png)}
div .item_guilt5{background:url(recipes_fun/guilt5.png)}
div .item_guilt6{background:url(recipes_fun/guilt6.png)}
div .item_guilt7{background:url(recipes_fun/guilt7.png)}
div .item_blockoldmetal{background:url(recipes_fun/blockoldmetal.png)}
div .item_mitega{background:url(recipes_fun/mitega.png)}
div .item_stack_leather{background:url(recipes_fun/stack_leather.png)}
div .item_spider_leg{background:url(recipes_fun/spider_leg.png)}
div .item_spider_leg_b{background:url(recipes_fun/spider_leg_b.png)}
div .item_bamboo{background:url(recipes_fun/bamboo.png)}
div .item_latiao{background:url(recipes_fun/latiao.png)}
div .item_cubesugar{background:url(recipes_fun/cubesugar.png)}
div .item_mitega_nugget{background:url(recipes_fun/mitega_nugget.png)}
div .item_vibranium_nugget{background:url(recipes_fun/vibranium_nugget.png)}
div .item_silvernugget{background:url(recipes_fun/silver_nugget.png)}
div .item_ancient_metal_nugget{background:url(recipes_fun/ancient_metal_nugget.png)}
div .item_core{background:url(recipes_fun/core.png)}
div .item_fan{background:url(recipes_fun/fan.png)}
div .item_powder_jin{background:url(recipes_fun/powder_jin.png)}
div .item_powder_mu{background:url(recipes_fun/powder_mu.png)}
div .item_powder_shui{background:url(recipes_fun/powder_shui.png)}
div .item_powder_huo{background:url(recipes_fun/powder_huo.png)}
div .item_powder_tu{background:url(recipes_fun/powder_tu.png)}
div .item_powder_feng{background:url(recipes_fun/powder_feng.png)}
div .item_powder_lei{background:url(recipes_fun/powder_lei.png)}
div .item_powder_bing{background:url(recipes_fun/powder_bing.png)}
div .item_powder_an{background:url(recipes_fun/powder_an.png)}
div .item_homwscroll{background:url(recipes_fun/homescroll.png)}
div .item_summon_staff{background:url(recipes_fun/summon_staff.png)}
div .item_ore_bag{background:url(recipes_fun/ore_bag.png)}
div .item_animal_bag{background:url(recipes_fun/anmimal_bag.png)}